@import './variables';

.newbie-hint-wrap {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    z-index: $z-index-hint;

    &_visible {
        display: flex;

        .newbie-hint {
            display: block;
        }
    }

    &__inner {
        position: absolute;
        display: flex;
    }
}
