body {
  height: 200vh;
}

#start {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
  z-index: 2;
}

[data-newbie-target] {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

[data-newbie-target="1"] {
  width: 100px;
  height: 200px;
  top: 20px;
  left: 500px;
  background-color: rgb(255, 168, 168);
}

[data-newbie-target="2"] {
  width: 100px;
  height: 20px;
  top: 100vh;
  left: calc(95vw - 100px);
  background-color: rgb(255, 168, 168);
}

[data-newbie-target="3"] {
  width: 10px;
  height: 200px;
  top: 140vh;
  left: 50px;
  background-color: rgb(255, 168, 168);
}

.custom-newbie-hint {
  width: 200px;
  padding: 20px;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
  background-color: #fff;
}
